.container{
    background: #ecf0f1;
    font-family: sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 200px 200px 200px;
    grid-template-areas: 
    "icons icons icons icons icons icons"
    ". . title title . ."
    "content content content content content content";
    grid-gap:10px; 
}


p {
    color: #524c56;
    font-size: 160%;
    line-height: 155%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
  }
  
  h3 {
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: #524c56;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
  }
  
  a {
    color: #524c56;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: #c3d7df;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
  }

.icons{
    grid-area:icons;
    background-color: #ecf0f1;
    text-align: center;
    color: black;
    
}

.menu{
    width: 90%;
    max-height: fit-content;
    
    margin-bottom: 2%;

}

#menu li{
    display:inline;
    padding:1% 5% 1% 5%;
    
    
    
}

.title{
    grid-area:title;
    background-color: #ecf0f1;
    color: black;
}

.content{
    grid-area:content;
    background-color: #ecf0f1;
    text-align: left;
    color: black;
}

#pestanas {
  float: top;
  font-size: 3ex;
  font-weight: bold;
}

#pestanas ul{
  margin-left: -40px;    
}

#pestanas li{
  list-style-type: none;
  float: left;
  text-align: center;
  margin: 0px 2px -2px -0px;
  background: darkgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid bisque;
  border-bottom: dimgray;
  padding: 0px 20px 0px 20px;
}

#pestanas a:link{
  text-decoration: none;
  color: bisque;
}

#contenidopestanas{
  clear: both;  
  background: dimgray;
  padding: 20px 0px 20px 20px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border: 2px solid bisque;
  width: 1025px;
}
